@media print {
    /* content  */
    a[href]:after {
        content: none !important;
    }
    @page {
        /* margin-top: 0; */
        /* margin-bottom: 0; */
    }
    body{
        padding-top: 72px;
        padding-bottom: 72px ;
    }
    .header > h1    { margin-top: 35px; }
    .header > span  { margin: 0 auto; top: -35px; }
    
    .footer > h3    { margin-top: 30px; padding: 0.7em; }
    .footer > span  { margin: 0 auto; }

    .header,
    .footer {
        background: repeating-linear-gradient(-60deg, rgb(202, 202, 202) 0, rgb(202, 202, 202) 1px, transparent 1px, transparent 5px)!important;
    }

    .header > h1,
    .header > span, 
    .footer > h3,
    .footer > span {
        border: 2px solid black !important;
        background-color: white !important;
        background: white !important;
    }
    .size-box{
        margin: 0;
        padding: 0;
    }
    .w10{
        width: 10px;
        height: 20px;
        float: left;
    }
    .cblack{
        background: repeating-linear-gradient(
                    -60deg,
                    rgb(202, 202, 202) 0,
                    rgb(202, 202, 202) 1px,
                    transparent 1px,
                    transparent 5px
                )!important;
    }
    .cwhite{
        background: repeating-linear-gradient(
                -60deg,
                rgb(202, 202, 202) 0,
                rgb(202, 202, 202) 5px,
                transparent 1px,
                transparent 5px
        )!important;
    }

    /* profile-photo */
    .profile-photo > img {
        margin: 0 0 0 40px;
    }

    /* progress-bar */
    .progress { position: relative; }
    .progress:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        border-bottom: 2rem solid #eeeeee;
    }
    .progress-bar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-bottom: 2rem solid rgb(53, 60, 71);
    }
    .progress-bar-success { border-bottom-color: #67c600; }
    .progress-bar-info { border-bottom-color: #5bc0de; }
    .progress-bar-warning { border-bottom-color: #f0a839; }
    .progress-bar-danger { border-bottom-color: #ee2f31; }
}