html,body {
    margin: 0;
    padding: 0;
    font-size: 1.7em;
}
.header {
    text-align: center;
    background-color: rgb(53, 60, 71);
    color: white;
}
.header > h1  {
    display: inline-block;
    margin-top: 35px;
    padding: 0.8em;   
    text-align: center; 
    font-weight: bold;
    font-size: 3em;
    border: 2px solid white;
    border-radius: 4px;
}
.header > span  {
    position: relative;
    display: block;
    width: 150px;
    padding: 10px;
    margin: 0 auto;
    top: -35px;
    z-index: 2;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: white;
}
.col-left,
.col-right {
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-left > div > div {
    padding: 0 15px 0 0;
}
.col-left div ,
.col-right div {
    padding: 0;
}
.col-right {
    padding-left: 0!important;
}
.container {
    min-width: 1170px!important;
} 
.container h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.container table {
    margin-bottom: 0;
}

.col-left > div {
    border-right: 2px solid rgb(17, 23, 32);
}

.col-right img {
    display: block;
    margin: 18px auto 0;
    border-radius: 100%;
}
.col-right address > i {
    padding-right: 15px;
    font-size: 20px;
    text-align: left;
}

.col-right address {
    margin-bottom: 0;
}

.footer {
    text-align: center;
    background-color: rgb(53, 60, 71);
    color: white;
}
.footer > h3  {
    display: inline-block;
    margin-top: 30px;
    padding: 0.7em;   
    text-align: center; 
    font-weight: bold;
    font-size: 1.5em;
    border: 2px solid white;
    border-radius: 4px;
}
.footer > span  {
    position: relative;
    display: block;
    width: 130px;
    padding: 5px;
    margin: 0 auto;
    top: -35px;
    z-index: 2;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: white;
}
